@charset "UTF-8";

.contentWrap{
	width: 920px;
	margin: 0 auto;
}

.commentBox{
	background-color: skyblue;
	border: 1px solid;
}

.subCommnetBox{
	background-color: #dda0dd;
	border: 1px solid;
	margin-bottom: 5px;
}

.commentExtra>.commentInput{
	padding-bottom: 20px;
	display: none;
}

.commentExtra>.commentInput.on{
	display: block;
}

.commentArea{
	min-height: 600px;
}

.subCommentArea{
	margin-left: 50px;
	display: none;
}

.subCommentArea.on{
	display: block
}
.subCommentAreaActive{
	margin-left: 50px;
}